@import 'null';


body {
    background-color: #000;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

.container {
    width: 90%;
}

.nav {
    margin: 22px 0 0 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

    &__menu {
        width: 466px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        color: #fff;
        font-size: 12px;
    }
}
.btn {
    width: 193px;
    height: 43px;
    font-size: 16px;
    line-height: 17.89px;
    letter-spacing: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}
.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-image: url('../img/danya.jpg');
    background-size: cover;
    height: 595px;
    width: 100%;
    padding: 70px 0 0 600px;

    @media only screen and (max-device-width: 1270px) {   
        padding: 70px 0 0 400px;;
    }
    @media only screen and (max-device-width: 1050px) {   
        padding: 70px 0 0 200px;;
    }
    @media only screen and (max-device-width: 825px) {   
        padding: 70px 0 0 50px;;
    }


    &__overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 45%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    &__content {
        z-index: 2;
        width: 495px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        transform: translateY(120px);
        opacity: 0;

        &.elem-show {
            opacity: 1;
            transform: translateY(0);
            transition: all 2.5s;
        }
    }

    &__title {
        color: #fff;
        font-weight: 400;
        font-size: 32px;
        line-height: 44.03px;
        letter-spacing: 10%;
        text-align: center;
        margin: 0 0 10px 0;
    }

    &__line {
        width: 270px;
        border: 1px dashed #fff;
        margin: 0 0 10px 0;
    }

    &__text {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.89px;
        letter-spacing: 10%;
        text-align: center;
        margin: 0 0 30px 0;
    }

    

    &__contact {
        opacity: 0;
        z-index: 2;
        margin: -70px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        
        @media only screen and (max-device-width: 655px) {   
            display: none;
        }

        & div:nth-child(2) {
            margin: 20px 0;
        }

        & div:nth-child(4) {
            margin: 20px 0;
        }

        &.elem-show {
            opacity: 1;
            transition: all 2.5s;
        }
    }

    &__line-two {
        width: 1px;
        height: 217px;
        border: 1px solid #fff;
    }

    &__soc {
        width: 20px;
        height: 20px;
    }

    &__btn {

        &:hover {
            color: grey;
        }
    }
}

.title {
    font-size: 32px;
    line-height: 44.03px;
    letter-spacing: 10%;
}

.portfolio {
    margin: 50px 0 100px 0;

    &__title {
        margin: 0 0 20px 0;
    }

    &__cats {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 0 5px 0;
        padding: 0 20px;
        
        & div:first-child::after {
            content: attr(data-descr);
            position: absolute;
            left: -8px;
            top: 24px;
            min-width: 40px;
            border: 1px #fff solid;
            color: #000000;
        }
    }

    &__item {
        position: relative;
    }

    &__line {
        width: 100%;
        border: 1px solid rgba(132, 132, 132, 1);
        margin: 0 0 50px 0;
    }

    &__content {

        & .portfolio__content-block:first-child {
            opacity: 0;
            transform: translateX(300px);

            &.elem-show {
                opacity: 1;
                transform: translateX(0);
                transition: all 1.5s;
            }
        }

        & .portfolio__content-block:last-child {
            justify-content: end;
            opacity: 0;
            transform: translateX(-300px);

            &.elem-show {
                opacity: 1;
                transform: translateX(0);
                transition: all 1.5s;
            }
        }
    }

    &__content-block {
        flex-wrap: wrap;
        display: flex;
        margin: 0 0 40px 0;

        @media only screen and (max-device-width: 550px) {   
            flex-direction: column;
            align-items: center;

            & div:first-child {
                order: 3;
            }
        }

    }

    &__img {
        width: 232px;
        height: 159px;
        position: relative;
        margin: 0 15px 0 0;

        @media only screen and (max-device-width: 550px) {   
            flex-direction: column;
            align-items: center;
            margin: 0 0 15px 0;
        }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        width: 232px;

        @media only screen and (max-device-width: 550px) {   
            margin: 0 0 15px 0;
        }
    }
}
.tariffs {
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-device-width: 550px) {   
            flex-direction: column;
            align-items: center;
        }
    }

    &__block {
        padding: 0 10px;
        position: relative;
        width: 210px;
        height: 250px;
        box-shadow: 0px 0px 26.2px 5px rgba(0, 0, 0, 1);
        background-color: rgba(109, 92, 83, 0.25);      
        border-radius: 25px;
        margin: 0 0 150px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &:hover {
            background-color: rgba(109, 92, 83, 0.35);      
            transform: translate3d(-2px, -2px, 100px);
            transition: all 0.2s;
            
            & .tariffs__dop {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }

            & .tariffs__name{
                display: none;
            }

            & .tariffs__desk{
                display: none;
            }

            & .tariffs__info{
                display: none;
            }
        }
    }

    &__dop {
        display: none;
    }

    &__want {
        text-shadow: #fc0 1px 1px 10px;
        text-align: center;
    }

    &__btn-lut {
        width: 120px;
        height: 45px;
        border-radius: 20px;
        border: 3px solid rgba(176, 93, 49, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(176, 93, 49, 1);

        &:hover {
            background-color: rgba(176, 93, 49, 1);
            color: #fff;
        }

        &:active {
            background-color: rgba(176, 93, 49, 0.7);
            border: none;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__blur {
        top: -100px;
        left: -270px;
        position: absolute;
        z-index: -1;
        width: 400px;
        height: 400px;
        background: radial-gradient(circle, #BEAA67 7%, #94703F 22.5%, #4A1A01 40%, #000000 64.5%);
    }

    &__name {
    }

    &__desk {
        
        & span {
            color: rgba(176, 93, 49, 1);
        }
    }

    &__info {
        text-align: center;
    }

    &__img {
    }

    &__btn {
    }

    &__item {

    }

    &__title {
        margin: 0 0 50px 0;
    }

    &__line {
        width: 100%;
        border: 1px solid #fff;
        margin: 0 0 30px 0;
    }
}
.btn {
}
